[2021-11-10 09:18] Saransh-cpp opened #1 "Remove the "Register" button from Sign In screen"
## Description
The "Register" button is redundant in the Sign In screen and should be removed.
Edit: Also make the screen consistent with the `Register` screen (#8).

## Relevant file
[LoginPage.dart](https://github.com/Saransh-cpp/BookRentApp-Chapter3/blob/master/lib/Screens/LoginPage.dart)

## Screenshot
<img src="https://user-images.githubusercontent.com/74055102/141084864-8ddb66c4-1cf1-4e08-a1

[2021-11-10 09:37] Saransh-cpp opened #2 "Add all the screens to `README`"
## Description
Add a compiled image of all the screens in the README file.

## References
- https://github.com/smaranjitghose/DocLense#app-screens
- https://app-mockup.com/

[2021-11-10 09:38] Saransh-cpp opened #3 "Remove unnecessary imports"
## Description
There are a lot of unnecessary imports in almost all of the files, they should be removed.

[2021-11-10 09:41] Saransh-cpp opened #4 "Lint all the files"
## Description
Right now the file names and the code is not linted properly (or does not follow the convention naming etc.). Lint all the files.

## Multiple contributors
This issue can have multiple PRs but each PR should lint at least 3 files.

[2021-11-10 09:45] Saransh-cpp opened #5 "Implement a lint checker CI pipeline"
## Description
Add a workflow that checks the linting of the codebase on every `pull_request`, `push` and `schedule`.

## References
- https://github.com/smaranjitghose/DocLense/blob/main/.github/workflows/ci.yml

[2021-11-10 09:50] Saransh-cpp opened #6 "Remove redundant files"
## Description
I think [Wrapper.dart](https://github.com/Saransh-cpp/BookRentApp-Chapter3/blob/master/lib/Wrapper.dart) and [database.dart](https://github.com/Saransh-cpp/BookRentApp-Chapter3/blob/master/lib/database.dart) are redundant. Remove them and make sure that it doesn't break anything.

[2021-11-10 09:54] Saransh-cpp opened #7 "Implement "All contributors" section"
## Description
It would be nice to have an all contributors section in the `README` file.

## References
Preference 1 - https://github.com/pybamm-team/PyBaMM#-contributors
Preference 2 - https://github.com/smaranjitghose/DocLense#our-valuable-contributors-

Let me know if I have to enable something in order to implement this!

[2021-11-10 10:01] Saransh-cpp opened #8 "Make the UI of `Register` screen uniform"
## Description
Right now the register screen looks really bad (well, the whole app looks really bad), for starters, we can try making the UI on a single screen a bit uniform.
- Add white background in all the fields
- Create a similar eye icon in confirm password field

## Relevant screens
[Register.dart](https://github.com/Saransh-cpp/BookRentApp-Chapter3/blob/master/lib/Screens/Register.dart)

#

[2021-11-10 19:25] Saransh-cpp opened #9 "Stylify the README file"
## Description
The README right now looks ugly. Things to do -
1. Centre align all the images.
2. There are some numbering issues, fix them.
3. Fix spelling mistakes.
4. Make sure all the links work.
5. Add some emojis in the headings.
6. Also the logo looks weird, crop the logo in such a way that it take all the width.
The file -
![IMG-20201209-WA0078](https://user-images.githubusercontent.com/74

[2021-11-11 05:11] Saransh-cpp opened #10 "Add Google Sign In"
## Description
I think the Google Sign In has been implemented but has not been added to the frontend. Add it to the Register and Log In screen with all the necessary data. Adding this as hard as this will require passing the data in between files or initializing dummy data.

## Relevant files
- https://github.com/Saransh-cpp/BookRentApp-Chapter3/blob/master/lib/Utility/auth.dart
- https://github.

[2021-11-11 05:20] Saransh-cpp opened #11 "Run the app in iOS?"
## Description
I don't have the resources to run the app in iOS but if someone can then it would be nice to check if everything is working smoothly, and if not, feel free to open up new issues:)

[2021-11-11 05:37] Saransh-cpp opened #12 "Drop in your emails if you are working on anything related to backend"
I will add you all to the Firebase console as a viewer, so that you can see all the stored dummy data.

[2021-11-11 05:51] Youspeakcubic commented on #9
Howdy, Would love to work on this, could i be assigned?

[2021-11-11 05:53] Saransh-cpp commented on #9
Sure! Go ahead!

[2021-11-11 06:08] Saransh-cpp opened #13 "Add a splash screen"
## Description
Add a splash screen in the application with the app's logo.

## Resources
https://whiteviolin.medium.com/creating-splash-screens-in-flutter-apps-8a284d86aa1b

## Logo
![IMG-20201209-WA0078](https://user-images.githubusercontent.com/74055102/141179679-5ce3381d-1f01-4888-9b4e-0ee6bb305c84.jpg)

[2021-11-12 14:19] #9 closed

[2021-11-30 14:46] Saransh-cpp opened #15 "Add a workflow to label issues"
## Description

Create a workflow to label issues with the tag `CodePeak`, and `SWoC`.
## References
- https://docs.github.com/en/actions/managing-issues-and-pull-requests/adding-labels-to-issues

[2021-12-01 05:53] shrinishant commented on #13
@Saransh-cpp sir, I would like to integrate the splash screen for the app? Could you please assign this to me?

[2021-12-01 12:19] ehteshaxm commented on #1
Can I work on this?

[2021-12-01 12:40] Starkl7 commented on #4
I would like to work on this as part of SWOC'21. Could you assign this issue to me?

[2021-12-01 15:38] shrinishant commented on #13
No Saransh, I'm a SWOC Participant. Can I still work on this and be assigned ?

[2021-12-01 16:00] Saransh-cpp commented on #13
Yes, go ahead!

[2021-12-01 16:01] Saransh-cpp commented on #1
Sure, go ahead!

[2021-12-01 18:51] letsintegreat opened #16 "Error while building the project."
We cannot build and run the project for android using the latest SDK as it uses old versions for some dependencies, e.g. win32.

Screenshot of the error message:
![](https://i.imgur.com/ABDtsmk.png)

[2021-12-01 18:54] letsintegreat commented on #16
I'd like to work on this issue and update versions of all the dependencies to their latest values.

[2021-12-01 19:42] Saransh-cpp commented on #16
Weird, I haven't updated Flutter in a while. Can you paste the stack trace here instead of the screenshot? If you know where the issue is, then go ahead!

[2021-12-01 20:11] Vaibhav-Chopra-GT commented on #15
can I work on this issue?

[2021-12-02 04:02] letsintegreat commented on #16
@Saransh-cpp

Here is the complete error message with stack trace: https://pastebin.com/hPviJSUn
Stack trace at line number 241.

**Gradle 6.3**
**Flutter 2.6.0-12.0.pre.871**
**Dart 2.16.0**

I know how to get it fixed, and I will make a PR shortly after CodePeak coding period starts.

[2021-12-02 16:35] Saransh-cpp commented on #1
@TESLA2402, this issue is currently taken. You can look out for other issues in this repository :)

[2021-12-03 05:16] letsintegreat opened #18 "Incorrect branch name in README.md"
The branch name in [upstream](https://github.com/Saransh-cpp/BookRentApp-Chapter3) is master, not main. It needs to be fixed.

[2021-12-03 05:17] letsintegreat commented on #18
I'd like to work on this issue.

[2021-12-03 05:37] Pranav108 commented on #13
@Saransh-cpp  I'm a CodePeak participant, if this thread is not active so can I take it?

[2021-12-03 07:03] Saransh-cpp commented on #15
Sure! Go ahead!

[2021-12-03 07:03] Saransh-cpp commented on #18
Go ahead!

[2021-12-03 07:13] #16 closed

[2021-12-03 07:18] Saransh-cpp opened #20 "Renderflex overflow in home screen"
## Screenshot
<img src="https://user-images.githubusercontent.com/74055102/144561225-349d9a49-7ed0-47e2-add6-2dc6d4c08aac.png" height=500/>

[2021-12-03 07:20] Saransh-cpp opened #21 "Revamp the drawer"
## Description
The drawer right now looks ugly, create a new design and implement it in the app. You might also need to create a new widget for the tiles and refactor some code (hence putting this issue as a hard one).

## Screenshot
<img src="https://user-images.githubusercontent.com/74055102/144561465-9e340880-8331-4d8f-ae25-fe773929c91d.png" height=500/>

[2021-12-03 07:24] Saransh-cpp opened #22 "Revamp the single product screen"
## Description
The screen where a single product is displayed (a book) looks ugly, I'll see if I can update the data, but update the UI and make it consistent throughout the screen. You might need to deep dive into the code and make sure that nothing breaks, hence, putting this as a moderate issue.

## Relevant file
- [product_details.dart](https://github.com/Saransh-cpp/BookRentApp-Chapter3/blob/

[2021-12-03 07:35] #18 closed

[2021-12-03 08:23] TESLA2402 commented on #20
Can I solve this issue?
Name : Lakshay

[2021-12-03 08:31] Saransh-cpp commented on #20
Sure, go ahead @TESLA2402!

[2021-12-03 10:30] raviyadav17 commented on #8
Can I solve this issue?
Name : Ravi

[2021-12-03 10:53] justdoit254 commented on #3
@Saransh-cpp I am a beginner can I work on this issue.

[2021-12-03 10:57] Saransh-cpp commented on #3
Yes, go ahead!

[2021-12-03 10:57] Saransh-cpp commented on #8
Sure, go ahead!

[2021-12-03 12:00] raviyadav17 commented on #8
![Register Screen](https://user-images.githubusercontent.com/86602971/144599108-d7f41395-4075-4627-967c-716ed26367eb.jpeg)
Is This UI ok

[2021-12-03 12:02] raviyadav17 commented on #8
**Is This UI okay**

![Register Screen](https://user-images.githubusercontent.com/86602971/144599241-7f60c1f0-6403-4961-a9bc-67b4746f283d.jpeg)

[2021-12-03 12:11] raviyadav17 commented on #8
**IS THIS UI OKAY**
<img src="https://user-images.githubusercontent.com/86602971/144599814-e42927b3-fba5-490a-8e49-dbf99a8605f8.jpeg" width=30% height=30%>

[2021-12-03 12:19] Saransh-cpp commented on #8
Yes, looks good! Could you also decrease the width of the input fields? So that they don't take the complete width of a device.

[2021-12-03 12:31] raviyadav17 commented on #8
**Done **
<img src="https://user-images.githubusercontent.com/86602971/144602590-cedce171-c2b8-4cb2-b972-edaf0ccb568f.jpeg"
width=30% height=30%>

[2021-12-03 13:09] Saransh-cpp commented on #8
Looks good! You can create a PR.

[2021-12-03 15:52] mortal-ghost commented on #10
Can I work on this?

[2021-12-03 20:39] atharv-bhadange commented on #6
I am a beginner, can I work on this?

[2021-12-03 20:46] Saransh-cpp commented on #6
Yes, go ahead!

[2021-12-03 20:47] Saransh-cpp commented on #10
Yes, go ahead!

[2021-12-04 03:06] ManavSarkar commented on #22
Hi, Can I work on this?
I am Manav Sarkar

[2021-12-04 03:07] ManavSarkar commented on #22
I have some better designs in my mind for this page

[2021-12-04 05:31] Pranav108 commented on #7
Can I work on it?

[2021-12-04 06:22] #15 closed

[2021-12-04 07:00] #20 closed

[2021-12-04 07:01] Saransh-cpp commented on #22
Yes, go ahead!

[2021-12-04 07:02] Saransh-cpp commented on #7
Sure, go ahead! Try to implement the `Preference 1` section.

[2021-12-04 07:23] Saransh-cpp opened #27 "Create the `About` Screen"
## Description
Create the `About` screen from scratch -
- Come up with a short description of the app.
- Make the screen visually appealing (you can use [undraw's](https://undraw.co/) illustrations)
- Make an `Author` section and add me (GitHub profile).
- Make a `Contributors` section, and show all the contributors in a grid view using GitHub's API.

## Relevant file
- [AboutUs.dart](https://gith

[2021-12-04 09:00] Pranav108 commented on #7
I can see 5 account who have contributed  to master, excluding merge commits and bot accounts.
So I have to add these 5 users only, right?

[2021-12-04 09:40] Saransh-cpp commented on #7
Let me try this

[2021-12-04 09:40] Saransh-cpp commented on #7
@all-contributors please add @Saransh-cpp for code

[2021-12-04 09:41] Saransh-cpp commented on #7
Oh this was easy XD I'll ask the CodePeak admins about how to mark you on this

[2021-12-04 09:50] Pranav108 commented on #27
Sounds new to me but would love to give it a try, can I work on it?

[2021-12-04 09:54] Saransh-cpp commented on #27
Yes, go ahead!

[2021-12-04 09:58] Saransh-cpp commented on #7
I've marked you accordingly! Thanks for the quick fix!

[2021-12-04 09:58] #7 closed

[2021-12-04 10:08] Saransh-cpp commented on #7
@all-contributors please add @Pranav108 for ideas

[2021-12-04 13:44] Keshab0100 commented on #21
I would love to try to solve this issue, may I?

[2021-12-04 13:58] Saransh-cpp commented on #21
Yes, go ahead!

[2021-12-04 14:04] Keshab0100 commented on #21
great

[2021-12-04 14:04] Keshab0100 commented on #21
Where can I connect with you for any queries?

[2021-12-04 14:10] Saransh-cpp commented on #21
Are you a part of any program? (CodePeak or SWoC)?

[2021-12-04 14:16] Keshab0100 commented on #21
Ya, swoc

[2021-12-04 14:19] hurshh commented on #2
@Saransh-cpp can I take this issue???

[2021-12-04 14:36] mortal-ghost commented on #10
Can you please confirm if google sign in is enabled in firebase?

[2021-12-04 15:30] Saransh-cpp commented on #10
![image](https://user-images.githubusercontent.com/74055102/144715153-5ee225e1-0d22-41ed-bccd-3d8661cf4f85.png)

Yes, do you want me to add you as a viewer in Firebase? If so, please drop your mail below.

[2021-12-04 15:30] Saransh-cpp commented on #2
Yes, go ahead!

[2021-12-04 15:40] Saransh-cpp commented on #21
Is the Chapter3 discord channel accessible to you?

[2021-12-04 15:41] Keshab0100 commented on #21
No

[2021-12-04 15:57] Saransh-cpp commented on #21
There is somewhere an option to get a specific project's role (as a participant). You can ask other participants in the general chat, I can't see those roles, probably because I am not a participant.

[2021-12-04 15:58] Keshab0100 commented on #21
Ya, there is a bot that assigns role by reacting to a message, but it seems it is not working, I haven't got the role

[2021-12-04 17:43] mortal-ghost commented on #10
anmoldeepsingh148@gmail.com

[2021-12-04 18:05] Vaibhav-Chopra-GT commented on #5
Can i work on this issue?

[2021-12-05 05:17] Pranav108 commented on #27
I never worked with github api before, can you please guide me how can I get those api of contributors in any repository  ,I searched but didn't got anything helpful.

[2021-12-05 07:44] Saransh-cpp commented on #27
Here is the code for the above reference - [file](https://github.com/smaranjitghose/DocLense/blob/main/lib/settings/contact_developers.dart)

They've used the API in here, let me know if you face any difficulties.

[2021-12-05 07:48] Saransh-cpp commented on #5
Yes, go ahead!

[2021-12-05 08:07] Saransh-cpp commented on #1
@ehteshaxm, any updates on this?

[2021-12-05 08:07] Saransh-cpp commented on #3
@justdoit254, any updates on this?

[2021-12-05 08:08] Saransh-cpp commented on #4
@Starkl7, any updates on this?

[2021-12-05 08:08] Saransh-cpp commented on #13
@shrinishant, any updates on this?

[2021-12-05 08:09] Saransh-cpp commented on #10
![image](https://user-images.githubusercontent.com/74055102/144738885-9fdec71c-f22c-4d1c-ad2d-b26bd2554127.png)

Done!

[2021-12-05 08:11] Saransh-cpp commented on #27
https://api.github.com/repos/Saransh-cpp/BookRentApp-Chapter3/contributors

For this repository

[2021-12-05 11:03] Starkl7 commented on #4
@Saransh-cpp I have finished linting all the files in lib, except those in Screens, will be submitting a PR by tonight for review.

[2021-12-05 12:46] mortal-ghost commented on #10
I have written the code but the googleSignIn() function in auth.dart keeps giving me the same error. Error =>
PlatformException(sign_in_failed, com.google.android.gms.common.api.ApiException: 10: , null, null)
The error occurs on the second line of this function. I have searched about the error and keeps getting the same answer that there is some problem with firebase authentication. Here is a lin

[2021-12-05 13:45] Saransh-cpp commented on #21
![image](https://user-images.githubusercontent.com/74055102/144749069-82beb839-a432-44c6-9bed-06d194f86130.png)

@Keshab0100, I think the bot has been fixed now.

[2021-12-05 14:58] Saransh-cpp opened #37 "Revamp `AllBooks` screen"
## Description

Right now the screen looks very dull. I'd like to keep the overall structure of the screen and the cards, but the rest of everything can be updated.

<img src="https://user-images.githubusercontent.com/74055102/144751819-e750a4d2-61b5-4102-92ab-7484db35b1f1.png" height=500/>

[2021-12-05 15:04] Saransh-cpp opened #38 "Revamp the `YourOrders` screen"
## Description
The screen looks very bland. Some suggestions -
- Update the button
- Show something if the cart is empty
- Update the app bar
- Change the background color
- Check how the item cards are displayed
- Check how the alert message on ordering something is displayed
- Background color

You might also face some issues with the written code, hence, I am putting this as a moderate level is

[2021-12-05 15:40] Pranav108 opened #39 "Can't see the content of HomeScreen"
For many of us we can't see the content of HomeScreen due to error with SingleChildScrollView (because it is encapsulating  AppBar, Drawer, Body etc.).
Though the app is running even with this issue.
As a result we may see some error like this:
![renderScreenError](https://user-images.githubusercontent.com/56934594/144753265-c4320994-d522-411e-84c3-6e9fb3409de7.png)

[2021-12-05 16:04] mortal-ghost commented on #10
While working on the issue, I found another issue. On the home screen, the SingleChildScrollView widget is giving out an error. Can I raise this issue?

[2021-12-05 16:12] Saransh-cpp commented on #10
Pointed out in #39

[2021-12-05 16:14] Saransh-cpp commented on #39
Root cause - #23

Would you like to work on this?

[2021-12-05 16:25] Saransh-cpp commented on #39
@all-contributors please add @Pranav108 for bug

[2021-12-05 16:34] Pranav108 commented on #39
This question is not for me , right?

[2021-12-05 19:35] justdoit254 commented on #3
Yes, @Saransh-cpp as I am a beginner so I was just learning how to use git I will update you today by evening.
Sorry for the delay.

[2021-12-05 19:36] justdoit254 commented on #3
Can you please help me out as I am not understanding which file should I fork first.

[2021-12-05 20:03] Saransh-cpp commented on #3
You should fork the complete repository (you cannot fork a file) using the fork button (extreme right).

![image](https://user-images.githubusercontent.com/74055102/144762011-d6e30c48-ce72-4a19-ad9a-5e4154072c3f.png)

[2021-12-05 20:03] Saransh-cpp commented on #3
No issues! Take your time.

[2021-12-05 20:05] Saransh-cpp commented on #39
Oh, my bad. This has already been fixed in #26.

[2021-12-05 20:11] Saransh-cpp opened #41 "Create an issue template"
## Description
Create an issue template. The template would look something like this -

## Description

## Relevant files

## Screenshot

## References

[2021-12-05 20:13] Saransh-cpp opened #42 "Create a pull request template"
Should look something like -

**Program** -
**Fixes**
## Description

## Type of change

## Screenshot

## Checklist
- [ ] The app builds properly
- [ ] Code is commented in difficult to understand areas
- [ ] Code is formatted well

[2021-12-06 05:28] Pranav108 commented on #27
Thanks for the resources ,they helped me a lot.
This is what I have created yet ,something else I should add in this section?
![about_section](https://user-images.githubusercontent.com/56934594/144792280-499e11ca-7d7b-437a-8b9f-0e5d264b558a.gif)

[2021-12-06 06:02] justdoit254 commented on #3
Is is necessary having flutter in my laptop to work on the issue?

[2021-12-06 06:03] justdoit254 commented on #3
Thank you

[2021-12-06 06:21] Saransh-cpp commented on #3
Yes, you'll have to check if the app is working fine after removing the imports.

[2021-12-06 06:22] #6 closed

[2021-12-06 06:22] #39 closed

[2021-12-06 06:29] Saransh-cpp commented on #10
I'll have a look at the error today

[2021-12-06 06:30] Saransh-cpp commented on #13
The issue is open for now (due to inactivity).

[2021-12-06 06:31] Saransh-cpp commented on #1
The issue is open for now (due to inactivity).

[2021-12-06 06:33] Saransh-cpp commented on #27
This looks great! Can you create a PR? Might have some minor iterations.

[2021-12-06 08:52] mortal-ghost commented on #10
Thank you. I found another issue in the app. When you login with invalid credentials, the app logs in anyway with errors. Please take a look at this one too.

[2021-12-06 08:58] Saransh-cpp commented on #10
Can you create a new issue with some screenshots or more details?

[2021-12-06 09:34] mortal-ghost commented on #10
Yes I will

[2021-12-06 09:54] mortal-ghost opened #45 "Logging in with Invalid Credentials"
The app lets us login with invalid email and password. We can put any non-empty email like '123' and any password with more than 6 characters and sign in to the app. But the home screen and cart screen will display an error as shown ->
<img src="https://user-images.githubusercontent.com/83603918/144825381-592487ca-47db-481f-8a05-b0cb72b1ca2b.png" height=500/>
<img src="https://user-images.githubus

[2021-12-06 10:02] Saransh-cpp commented on #45
@all-contributors please add @mortal-ghost for bug

[2021-12-06 10:33] Pranav108 opened #50 "need improvement in deprecated syntax"
Throughout the code we can see many deprecated widget (e.g. RaisedButton, showSnackBar etc .) which may cause unexpected behavior in future, so this syntax need to be replaced with their latest alternative.

[2021-12-06 12:41] Pranav108 commented on #13
Can I take it?

[2021-12-06 13:24] Saransh-cpp commented on #13
I will assign you once #49 is merged

[2021-12-06 14:04] Saransh-cpp commented on #50
These deprecations will be easily visible through GitHub Actions once #5 is solved. Thanks for pointing this out!

[2021-12-06 17:13] hurshh commented on #37
I think changing the scaffold colour to pink that matches the bottom navbar and increasing the genre font will make it beautiful
![screenshot1 (1)](https://user-images.githubusercontent.com/75796695/144890773-a8d5546c-2190-4f5f-b93e-855d2c479f90.png)

[2021-12-06 20:54] Saransh-cpp commented on #37
@hurshh looks good, might need some iterations, but I can assign you 1 issue at a time. Are you done with #2?

[2021-12-07 05:04] pushkar2112 commented on #42
Hey,
I would like to work on this issue.

[2021-12-07 07:13] Saransh-cpp commented on #42
@pushkar2112 this issue has been solved, my bad. You can take a look at #41, a similar issue!

[2021-12-07 07:13] #42 closed

[2021-12-07 07:13] Saransh-cpp commented on #41
@pushkar2112, this one!

[2021-12-07 07:14] Saransh-cpp opened #54 "Remove `<br>` from PR template"
## Description

The PR template has a lot of unnecessary line breaks (`<br>`). Remove all of them.

## Relevant file
- https://github.com/Saransh-cpp/BookRentApp-Chapter3/blob/master/.github/PULL_REQUEST_TEMPLATE.md

[2021-12-07 07:16] Saransh-cpp commented on #10
PlatformException(sign_in_failed, com.google.android.gms.common.api.ApiException: 10: , null, null)

@mortal-ghost, can you create a PR so I can have a look?

[2021-12-07 07:17] Pranav108 commented on #13
Can I start working on it?

[2021-12-07 07:19] pushkar2112 commented on #41
can I take this one?

[2021-12-07 07:21] pushkar2112 commented on #54
I would like to solve this one too... can I go ahead with this too?

[2021-12-07 07:32] Saransh-cpp commented on #54
@pushkar2112, one issue at a time :) which one would you like to work on?

[2021-12-07 07:33] pushkar2112 commented on #54
the issue template

[2021-12-07 07:34] Saransh-cpp commented on #41
Go ahead!

[2021-12-07 07:34] pushkar2112 commented on #41
What would be the title of the template?

[2021-12-07 07:45] Saransh-cpp commented on #41
Create a PR, I'll suggest changes there.

[2021-12-07 07:47] justdoit254 commented on #3
I have cloned the repository in my VScode can you please guide me for the next step.

[2021-12-07 07:48] justdoit254 commented on #3
I am not able to identify which file should I open and start working on the issue.

[2021-12-07 08:19] Saransh-cpp commented on #3
All the `dart` files are available in the `lib` directory and its subdirectories. You can pick any one of them and start working!

[2021-12-07 08:29] hurshh commented on #37
ill try my best to complete #2  by today

[2021-12-07 08:33] mortal-ghost commented on #10
I have created a PR. Can I start working on other issues ?

[2021-12-07 08:34] mortal-ghost commented on #45
Can I work on this now?

[2021-12-07 09:12] Vaibhav-Chopra-GT commented on #1
Can I work on this issue?

[2021-12-07 09:55] #41 closed

[2021-12-07 10:00] pushkar2112 commented on #54
can i work on this one now?

[2021-12-07 10:02] #27 closed

[2021-12-07 10:02] Saransh-cpp commented on #1
Yes, go ahead!

[2021-12-07 10:35] Starkl7 commented on #4
@Saransh-cpp I have created the pull request. Please review it.
Apologies for the delay, faced a few issues with version control.

[2021-12-07 10:36] Starkl7 commented on #4
Should I proceed with the rest of the project?

[2021-12-07 13:02] #54 closed

[2021-12-07 13:07] #5 closed

[2021-12-07 13:18] Saransh-cpp opened #61 "Add badges to README"
# Description
2 badges should be added below the Chapter 3 logo, and the existing badge should also be moved there.

Two badges -
- [![Flutter/Dart Lint Check](https://github.com/Saransh-cpp/BookRentApp-Chapter3/actions/workflows/Test.push.yml/badge.svg)](https://github.com/Saransh-cpp/BookRentApp-Chapter3/actions/workflows/Test.push.yml)
- [![Label issues](https://github.com/Saransh-cpp/BookRentA

[2021-12-07 13:27] Saransh-cpp opened #62 "Build the apk in CI pipeline"
# Description
We don't have any tests right now, but we can build the `apk` to check if the app is doing well or not. Add another step in the workflow to build the apk.

# Relevant files
- https://github.com/Saransh-cpp/BookRentApp-Chapter3/blob/master/.github/workflows/Test.push.yml

# Screenshot
Please attach screenshots for the same, if applicable

# References
- https://github.com/subosito/flu

[2021-12-07 13:49] Pranav108 commented on #13
Splash loading screen is already in the app and is working well so I have to only add `True Splash Screen` , means the changes in res folder, right?

[2021-12-07 13:53] Saransh-cpp commented on #45
Yes! I am not getting the time to go through #56 in detail. You can take this up.

[2021-12-07 13:58] Saransh-cpp commented on #13
Can you update the existing splash screen to also contain the logo? Other than that, yes, only the true splash screen is needed.

[2021-12-07 14:14] #1 closed

[2021-12-07 14:18] Saransh-cpp commented on #13
Yes, anything that you like. I am comfortable with both options!

[2021-12-07 14:49] Saransh-cpp commented on #62
Yes, go ahead!

[2021-12-07 15:05] pushkar2112 commented on #61
Can I work on this issue?

[2021-12-07 15:18] Saransh-cpp commented on #61
Yes, go ahead!

[2021-12-07 17:09] #61 closed

[2021-12-08 05:41] Saransh-cpp commented on #2
@hurshh, any updates on this?

[2021-12-08 05:53] #62 closed

[2021-12-08 06:41] hurshh commented on #2
there is noting in homescreen so should i keep homescreen??

[2021-12-08 06:43] Saransh-cpp commented on #2
Keep all the screens as they are, the "home screen content not visible" bug was fixed recently, make sure you are on the latest commit.

[2021-12-08 09:25] mortal-ghost commented on #45
This one is fixed.
![WhatsApp Image 2021-12-08 at 2 53 03 PM](https://user-images.githubusercontent.com/83603918/145182972-2d1d2837-2ca7-4e7f-853f-1fa3090414eb.jpeg)
But the google sign in still does not work.

[2021-12-08 09:31] mortal-ghost commented on #45
I also found a overflow on a widget on the home screen. I found the fix too. Do I need to create another issue?

[2021-12-08 09:41] Saransh-cpp commented on #45
Can you create a PR?

[2021-12-08 09:41] Saransh-cpp commented on #45
Yes, create a new issue.

[2021-12-08 11:16] mortal-ghost commented on #45
This issue is fixed after the addition of google sign in button which does not work. Should I remove it or let it be for this PR?

[2021-12-08 11:21] mortal-ghost opened #68 "Overflow of widgets on Home screen"
# Description
Some widgets on the home screen overflow by some pixels. This occurs on 1080p and 720p screen resolution devices and does not occur on 1440p devices (tested on only these resolutions).

# Relevant files
lib/Screens/Home.dart

# Screenshot
![Screenshot_1638961295](https://user-images.githubusercontent.com/83603918/145199867-6ee35d09-742f-4e17-ae4c-e28cf30e7c37.png)

[2021-12-08 11:27] ShivaRapolu01 commented on #68
Can I work on this issue?

[2021-12-08 16:06] #13 closed

[2021-12-08 18:56] #8 closed

[2021-12-08 19:04] raviyadav17 commented on #68
Can i work on this issue??
Name : Ravi

[2021-12-08 19:07] Vaibhav-Chopra-GT commented on #50
Can I work on this issue

[2021-12-08 19:07] Saransh-cpp commented on #68
Yes, go ahead!

[2021-12-08 19:08] Saransh-cpp commented on #50
Yes, go ahead! Just wait for #60 to be merged.

[2021-12-09 07:22] justdoit254 commented on #3
@Saransh-cpp  can I do the required changes in VScode itself or do I need to get android studio.

[2021-12-09 08:15] justdoit254 commented on #3
Do I need to install android studio or I can make the required changes in VScode only.

[2021-12-09 10:38] Pranav108 opened #71 "Adding functionality for contactUs section"
# Description
We have a `Contact us` section but it doesn't do anything yet. Adding some non-void functionality to this section will enhance the app.

# Relevant files
lib/Screens/Contact.dart

# Screenshot
NotApplicable

# References
NotApplicable

[2021-12-09 11:29] Saransh-cpp commented on #71
Do you want to take this up?

[2021-12-09 12:09] Pranav108 commented on #71
Yeah , I would like to.
Can you give basic overview about it , what functionality you expect here?

[2021-12-09 13:25] Vaibhav-Chopra-GT commented on #37
can I work on this issue?

[2021-12-09 13:27] Saransh-cpp commented on #37
Yes, as you cannot work on #50 right now, go ahead!

[2021-12-09 13:31] Saransh-cpp commented on #71
Something like the about us screen

<- Contact
Do you have an issue, or do you want a new functionality, or are you looking for some random answers? Contact us here -
GitHub repository - link
GitHub issues - link
GitHub discussions - link
Author's LinkedIn - link
Author's GitHub - link

[2021-12-09 14:15] Vaibhav-Chopra-GT opened #74 "Revamp the Shopping Cart screen"
# Description
The shopping Cart screen looks very dull and the checkout button does not match the aesthetic of the app.
Also, the Your cart is empty pop-up looks plain

# Screenshot
<img src="https://user-images.githubusercontent.com/92637595/145412247-d92dd034-1476-494c-b91f-630b319647fa.png" height=500/>

<img src="https://user-images.githubusercontent.com/92637595/145412155-49c8365b-eda1-44ee-8

[2021-12-09 15:03] #37 closed

[2021-12-10 08:58] Saransh-cpp commented on #3
You can do it any IDE, just make sure that the app works.

[2021-12-10 09:07] Saransh-cpp opened #75 "Add "Program" section in the PR template."
# Description
Add "Program" section in the PR template.

# Relevant files
- https://github.com/Saransh-cpp/BookRentApp-Chapter3/blob/master/.github/PULL_REQUEST_TEMPLATE.md

[2021-12-10 13:18] Saransh-cpp opened #79 "Mentors, drop you GitHub ID"
@ SWoC mentors, please drop your GitHub username below -

- I'll add you as a collaborator
- The participants will know who the mentors are

Please don't merge any pull requests, I'd like to do that on my own. You can review and approve a pull request (and help the participants in every other possible way).

[2021-12-10 15:12] Procoder16 commented on #79
Procoder16

[2021-12-10 15:26] naveeramesh commented on #79
naveeramesh

[2021-12-10 16:03] Neha62-lit commented on #79
Neha62-lit

[2021-12-10 16:49] Samdid commented on #79
Samdid

[2021-12-10 17:02] akshatjain1004 commented on #75
Hi I'd like to work on this!

[2021-12-10 17:04] akshatjain1004 commented on #75
Can you tell me what should it include? @Saransh-cpp

[2021-12-10 17:17] Saransh-cpp commented on #75
Above everything add this -

**Program that you are a part of -**
- [ ] CodePeak
- [ ] Script Winter of Code
- [ ] None

[2021-12-10 17:19] akshatjain1004 commented on #75
Understood! Can you assign it to me? Ps. I'm a codepeak participant

[2021-12-10 18:18] #75 closed

[2021-12-10 18:19] Saransh-cpp commented on #3
@justdoit254, any updates?

[2021-12-10 19:11] arnav1776 commented on #79
arnav1776

[2021-12-11 06:30] Pranav108 commented on #74
@Saransh-cpp Can I take it?

[2021-12-11 06:34] Saransh-cpp commented on #50
@Vaibhav-Chopra-GT, you can go ahead now!

[2021-12-11 06:36] #38 closed

[2021-12-11 06:37] Saransh-cpp commented on #74
Yes, some suggestions -

- Update the button
- Show something if the cart is empty
- Update the app bar
- Change the background color
- Check how the item cards are displayed
- Check how the alert message on ordering something is displayed

[2021-12-11 10:48] Pranav108 commented on #21
If this issue is inactive then can I give it a try?

[2021-12-11 13:07] msramesh2k1 commented on #79
msramesh2k1

[2021-12-11 14:15] #2 closed

[2021-12-11 14:30] #45 closed

[2021-12-11 14:30] #10 closed

[2021-12-11 16:04] mortal-ghost commented on #12
I noticed in the firebase, sign in anonymous option is on but it is not implemented. Does it need to be implemented?

[2021-12-11 16:06] Saransh-cpp commented on #12
Nope, that is for the admins (private app🤫).

[2021-12-11 16:14] Saransh-cpp commented on #22
@ManavSarkar, any updates?

[2021-12-11 16:15] Saransh-cpp commented on #21
Yes, go ahead!

[2021-12-11 16:31] #71 closed

[2021-12-11 16:43] ChetasShree commented on #79
ChetasShree

[2021-12-11 18:31] atharv-bhadange commented on #3
Hey! Can I do this?

[2021-12-12 03:42] Pranav108 commented on #21
@Saransh-cpp can you please elaborate the task a bit.

[2021-12-12 10:25] kapilkumar2001 commented on #79
kapilkumar2001

[2021-12-12 12:43] mortal-ghost commented on #68
Hi this may be a separate issue than this one but the home screen does not work for landscape mode. I tried it on 1080p resolution.

[2021-12-12 13:35] raviyadav17 commented on #68
Thanks for pointing it out i will look into it.
Can you tell on which device you tested that.

[2021-12-12 13:53] Saransh-cpp commented on #68
This would be a new feature request, you can create a new issue.

[2021-12-12 14:17] mortal-ghost opened #87 "Overflow of widgets in landscape mode"
# Description
The home screen and login screen has overflowing widgets in landscape mode. Other screens may be affected too.
Login screen only has overflow when typing the email and password.

# Relevant files
lib/Screens/Home.dart
lib/Screens/LoginPage.dart

# Screenshot
![Screenshot_1639317957](https://user-images.githubusercontent.com/83603918/145716108-381a3317-b6e0-4e8d-aa2d-7e66791edbc4.png)

[2021-12-12 15:44] mortal-ghost commented on #87
Can I also work on this?

[2021-12-12 17:41] Shatakshi-verma commented on #79
Shatakshi-verma

[2021-12-12 18:40] mortal-ghost commented on #87
Other screens are also affected.
![Screenshot_1639333954](https://user-images.githubusercontent.com/83603918/145725116-58534bac-fd09-4302-b79a-e012d6332fbd.png)
![Screenshot_1639333992](https://user-images.githubusercontent.com/83603918/145725118-ce48e44e-b586-45de-83e8-1e5eb28639cb.png)
![Screenshot_1639334161](https://user-images.githubusercontent.com/83603918/145725119-4cd0b320-600c-4c55-a3b8-7

[2021-12-12 18:45] #50 closed

[2021-12-12 18:49] Vaibhav-Chopra-GT commented on #3
Can I work on this issue?

[2021-12-12 18:49] Saransh-cpp commented on #87
@mortal-ghost, I am thinking of restricting the app to portrait mode. What do you think?

[2021-12-12 18:49] Saransh-cpp commented on #3
Yes, go ahead!

[2021-12-12 19:18] mortal-ghost commented on #87
Yes, I think that would be better. The UI seems better for the portrait mode

[2021-12-12 19:24] Saransh-cpp commented on #87
Yes, you can take this up!

[2021-12-12 19:25] #3 closed

[2021-12-12 19:35] mortal-ghost commented on #87
I just pulled the upstream master and found another issue  :sweat_smile: .  Create another one?

![Screenshot_1639336563](https://user-images.githubusercontent.com/83603918/145726558-a5dc1998-69e8-4afb-912c-734c4ab136da.png)

[2021-12-12 19:37] Saransh-cpp commented on #87
The app is behaving weirdly, I am guessing we messed something up in a PR. Yes, create a new issue (please add the steps to reproduce).

[2021-12-12 19:40] mortal-ghost opened #89 "Error on register screen"
# Description
The register screen throws an error anytime it is opened.

# Relevant files
lib/Screens/Register.dart

# Screenshot
![Screenshot_1639336563](https://user-images.githubusercontent.com/83603918/145726990-f1eb49dd-c0d6-47ce-a57b-198f3bfa7a73.png)

[2021-12-12 19:59] mortal-ghost commented on #89
I found the problem. Can I fix this one too?

[2021-12-13 08:38] Keshab0100 commented on #21
I was busy with my internals😅

[2021-12-13 10:25] Pranav108 commented on #22
Can I take it?

[2021-12-13 10:38] ManavSarkar commented on #22
I am already working on it

[2021-12-13 10:39] ManavSarkar commented on #22
Yes sir, almost done and within tomorrow I will submit.
The reason for my late contribution is my final sem exams. But I will do submit by tomorrow.
Thank you

[2021-12-13 11:37] startlingmind commented on #89
Please assign me this

[2021-12-13 11:38] startlingmind commented on #74
Can you assign me this?

[2021-12-13 11:46] Pranav108 commented on #74
@startlingmind A [PR](https://github.com/Saransh-cpp/BookRentApp-Chapter3/pull/83) is already for this issue.

[2021-12-13 15:31] msramesh2k1 commented on #89
Go ahead

[2021-12-13 16:59] Saransh-cpp opened #92 "Weird app behaviour"
# Description
The app is behaving very weirdly in different situations. One that I encountered -
1. Add a book to the cart (notice how the cart icon disappears)
2. Go to the cart screen (notice how it loads for a long time) and place an order/delete the items
3. Go back and open any books (It won't open)
4. The app is stuck in a weird place where nothing is working

The bug is somewhere between th

[2021-12-13 21:05] raviyadav17 commented on #68
@Saransh-cpp  can you now see and tell me about why merging is not working

[2021-12-14 02:49] naveeramesh commented on #89
Yes I had checked there is an issue in signin and signout so leme create a new issue or @Saransh-cpp will you create it?

[2021-12-14 05:53] Saransh-cpp commented on #89
@mortal-ghost can create one

[2021-12-14 07:05] mortal-ghost commented on #92
Is the login and logging out issue covered in this ?

[2021-12-14 07:12] mortal-ghost commented on #92
Can I work on this?

[2021-12-14 10:50] msramesh2k1 commented on #92
No

[2021-12-14 10:54] msramesh2k1 commented on #92
@Saransh-cpp

[2021-12-14 11:38] msramesh2k1 commented on #92
@Saransh-cpp told you to create seperate issue for this

[2021-12-14 11:43] mortal-ghost commented on #92
Ok I will create another issue

[2021-12-14 11:47] mortal-ghost opened #94 "Issues with signing in and signing out"
# Description
On signing in with incorrect credentials. the app does not display a snackbar about the failed sign in.
On signing out, the login screen is not pushed to the screen, instead it just stays signed in until we restart the app.

# Relevant files
lib/Screens/LoginPage.dart
lib/Screens/Home.dart
Could be many others

[2021-12-14 12:45] Saransh-cpp commented on #92
You've already been assigned 1 issue. You take this up after that!

[2021-12-14 17:01] mortal-ghost commented on #94
Ok I finally fixed the issues but assigning this issue an easy label seems a bit harsh :slightly_frowning_face: . Was very hard to find with run log giving almost no warning.

[2021-12-14 17:07] mortal-ghost commented on #92
Now can I please work on this one?

[2021-12-14 19:54] #87 closed

[2021-12-14 19:59] #89 closed

[2021-12-14 20:08] Saransh-cpp commented on #94
@mortal-ghost, I'll look into the difficulty once I review the PR!

[2021-12-14 20:24] mortal-ghost commented on #94
Thanks

[2021-12-15 08:48] ManavSarkar commented on #22
@Saransh-cpp please can you guide where to publish the branch, in upstream or in origin

[2021-12-15 14:19] Saransh-cpp commented on #22
Did you clone my repository or the forked repository?

[2021-12-15 14:21] ManavSarkar commented on #22
No I just cloned the repository.i was working on the issue 22 branch

[2021-12-15 14:42] ManavSarkar commented on #22
Have I made any mistake?
Please guide as this is my first time open source contribution.

[2021-12-15 16:10] arnav1776 commented on #22
@ManavSarkar First you have to Fork this Repo using the Fork button which is on the top-right side, then clone the forked repo onto your system, make the desired changes, then create a new branch for your changes, push that branch onto your repo and then open a Pull Request in the main Repository.

[2021-12-15 16:14] arnav1776 commented on #92
@mortal-ghost Sure go ahead.

[2021-12-15 17:00] Saransh-cpp commented on #22
A workaround for your situation now -
[code]

Then you can push to origin

[2021-12-15 18:01] ManavSarkar commented on #22
Can I start from beginning by forking the repository and then paste the product page code. But it will have only single commit. Will that be fine?

[2021-12-15 18:01] ManavSarkar commented on #22
@Saransh-cpp

[2021-12-16 12:47] Saransh-cpp commented on #22
Yes, no issues!

[2021-12-16 13:57] mortal-ghost commented on #92
I fixed these issues. Should I wait for the last PR to close or just create a new one ?

[2021-12-16 14:04] msramesh2k1 commented on #92
You can create PR

[2021-12-16 14:04] msramesh2k1 commented on #92
I will review the PR by tomorrow

[2021-12-16 16:39] ManavSarkar commented on #22
@Saransh-cpp Please confirm whether the UI is looking good or not.
![71](https://user-images.githubusercontent.com/42129636/146412153-91f0bff5-6aa0-4a81-8046-25194883d50c.gif)

[2021-12-16 18:12] Saransh-cpp commented on #22
@all-contributors please add @arnav1776 for mentoring

[2021-12-16 18:12] Saransh-cpp commented on #22
Yes, looks awesome!

[2021-12-16 18:14] Saransh-cpp commented on #21
Sorry for the delay. I think a white background would look nice, with no weird orange and pink color (XD)? Plus I think it would look good if you could only fix the My Orders tile.

[2021-12-16 18:17] Saransh-cpp commented on #89
@all-contributors please add @naveeramesh for mentoring

[2021-12-16 18:21] Saransh-cpp commented on #89
@all-contributors please add @naveeramesh for mentoring

[2021-12-18 03:51] Pranav108 opened #106 "deprecation of current flutter version"
# Description
I have upgraded my flutter version for my android studio few days ago now when I'm trying to run the code of this app then I'm getting a warning which suggest me to migrate the project to it's updated flutter version.

# Relevant files
`MainActivity.java/kt`
`android/app/src/main/AndroidManifest.xml`
`Drawable`
`styles.xml`

# Screenshot
<img src="https://user-images.githubuserconten

[2021-12-18 03:56] Pranav108 commented on #106
I never worked with migration of any app, but I would love to give it a try.
@Saransh-cpp Can I take it?

[2021-12-18 08:14] Saransh-cpp commented on #106
Yes, go ahead!

[2021-12-18 08:15] Saransh-cpp commented on #106
I might turn this into bonus if it requires too much work.

[2021-12-18 12:27] Pranav108 commented on #106
Do I have to remove this error only or have to migrate whole app?
Because after a single change in `AndroidManifest.xml` and updating the sdk  version removed this warning and code is running well.

[2021-12-18 13:15] Saransh-cpp commented on #106
This would be good for the long run. But if you want to get rid of the warning for now you can do so (would be an easy issue in that case).

[2021-12-19 04:14] Pranav108 commented on #106
Okay , I have just removed the warning and that was the only change I found from [this](https://github.com/flutter/flutter/wiki/Upgrading-pre-1.12-Android-projects) resource.

[2021-12-27 11:43] letsintegreat opened #110 "Error while running the project for android."
The app is not getting installed because of some error:

![](https://i.imgur.com/IJZCZ8i.png)

To reproduce the error, try to run the app on the latest version of android. (API 31)

[2021-12-27 16:41] Pranav108 opened #111 "deprecated `firebase_admob` package"
# Description
In this app we have implemented `firebase_admob` package for showing mobile ads on myCart screen, which is deprecated now, instead we should use `google_mobile_ads` package.

# Relevant files
`lib/Screens/YourOrders.dart`

# Screenshot
![image](https://user-images.githubusercontent.com/56934594/146670008-1adb6889-eb0d-42f4-8858-a4ca5d252480.png)

# References
[reference](https://pub.

[2021-12-28 07:18] Saransh-cpp commented on #106
Re-opening this for complete migration

[2021-12-28 07:19] Saransh-cpp commented on #110
Might change the difficulty based on the PR

[2021-12-28 07:31] #79 closed

[2021-12-28 11:54] letsintegreat opened #113 "Add support for web."
With flutter, we can build apps for android, iOS, and web from a single code base. But, right now the project is not configured for web.

I think adding web support would be good for desktop users.

[2021-12-28 19:28] #110 closed

[2021-12-28 19:34] Saransh-cpp commented on #113
This might require some modifications within the code (making sure the widgets don't overflow etc.), hence putting this as hard right now!

[2021-12-29 08:34] rajoriaakash commented on #111
Hi, I would like to work on this...

[2021-12-29 15:49] Saransh-cpp commented on #111
Go ahead!

[2021-12-30 11:18] #94 closed

[2021-12-31 07:29] rajoriaakash commented on #106
Hi,
Can I take this?

[2022-01-01 14:35] rajoriaakash commented on #106
To migrate the app completely I must upgrade all dependencies into their null safety versions.
There is one dependency, carousel_pro that doesn't have a null-safety version.
Should I replace it with some other carousel dependency that ensures null safety?
And it would help a lot if the mentors could tell me which files am I supposed to look at, for changing the carousel code?
Thanks:)

[2022-01-01 22:28] letsintegreat commented on #106
@rajoriaakash Yes, there are two dependencies that will cause problems with null safety. carousel_pro can be replaced with another dependency, while you will have to remove firebase_admob dependency completely, and also the code relevant to it.

I have also dealt with this issue in my PR, but it is yet to be reviewed. But fortunately, I created a separate commit while dealing with these two depend

[2022-01-02 07:41] rajoriaakash commented on #106
Oh okay!
Thanks for the detailed explanation :D
I will try my best :)

[2022-01-02 11:16] rajoriaakash commented on #106
I did all the migration and stuff but now when I try to run the app.
The following error is encountered :
![image](https://user-images.githubusercontent.com/59030114/147873978-01b94f83-f537-4ece-81bf-2fc27327eb67.png)
I am not sure how this error appeared 😔
Here is my commit fe1d94333abaa626fa028ca078ebdc500631096a

[2022-01-02 14:59] letsintegreat commented on #21
If this issue is still unresolved and no one's working on it, I'd like to work.

[2022-01-02 15:38] #92 closed

[2022-01-02 19:46] #74 closed

[2022-01-03 14:45] Saransh-cpp opened #115 "Renderflex overflow in cart screen"
# Description
Make the screen dynamic.

# Relevant files
- `YourOrders.dart`

# Screenshot
<img src="https://user-images.githubusercontent.com/74055102/147943913-e5abf3eb-7cd4-4cab-b197-f05b54259423.png" height=500/>

[2022-01-03 14:48] Saransh-cpp opened #116 "Revamp the profile screen"
# Description
Revamp the screen, the UI is completely up to you (tho it will require my approval). This would also require some refactoring and some fixing with the updation logic (might turn this into a bonus issue).

# Relevant files
- `Profile.dart`

# Screenshot
<img src="https://user-images.githubusercontent.com/74055102/147944325-1ca57616-e8fa-433e-a65b-afbfa74dc70a.png" height=500/>

[2022-01-03 14:50] Saransh-cpp opened #117 "Contact us screen gives an error / warning"
# Description
[code]

# Relevant files
`Contact.dart`

[2022-01-03 14:52] Saransh-cpp opened #118 "Revamp the favorites screen"
# Description
Right now the screen is completely blank whenever there are no favorites, and still looks empty when a user has favorite books.

# Relevant files
- `Favourites.dart`

# Screenshot
<img src="https://user-images.githubusercontent.com/74055102/147944883-7fa80336-9f45-4229-b9b9-a8b29688b834.png" height=500/>

[2022-01-03 14:54] Saransh-cpp opened #119 "Revamp the orders screen"
# Description
Right now the screen is completely blank whenever there are no orders, and still looks empty when a user has some orders.

# Relevant files
- `orders.dart`

# Screenshot
<img src="https://user-images.githubusercontent.com/74055102/147945046-2c90b9a7-3388-437f-871f-b9c0e2679fcc.png" height=500/>

[2022-01-03 14:57] Saransh-cpp opened #120 "Implement the "Report issue" option"
# Description
There are a lot of tools available on the internet that integrates with our app and let a user report bug/glitch with extra information. Look out for such SDKs and integrate with the app.

# Screenshot
<img src="https://user-images.githubusercontent.com/74055102/147945402-8a31b269-834a-41ff-aaa3-70f33892e150.png" height=500/>

# References
- https://github.com/smaranjitghose/DocLense

[2022-01-03 14:58] Saransh-cpp commented on #4
Re-opening this as #114 adds some more lint checks which would require the files to be formatted.

[2022-01-03 16:48] Saransh-cpp opened #121 "Create a new project in firebase before uploading the app on play store"
As the package name of your android app in the firebase console is not editable, I think the best course of action would be to delete the current app from the console and add a new android app with the correct package name, then download the auto-generated google-services.json and replace it with the current one.

After some research, I found [this](https://stackoverflow.com/a/40204186/9134576), h

[2022-01-03 16:55] letsintegreat commented on #121
Oh, I think there's a misunderstanding here, or just a typing mistake in the title. Either way, You don't need to create a new project in firebase. Just delete the *app* with the old package name from the current project, and add a new one with the correct package name.

[2022-01-03 17:26] Saransh-cpp commented on #121
Typing mistake, fixed it.

[2022-01-04 08:14] startlingmind commented on #21
I would like to work on this

[2022-01-04 08:57] Saransh-cpp commented on #21
Hi @startlingmind, I'll assign this to @letsintegreat for now. You can have a look at other open issues!

[2022-01-04 08:58] startlingmind commented on #119
I would like to work on this

[2022-01-04 09:07] Saransh-cpp commented on #119
Go ahead!

[2022-01-04 18:08] noman2002 commented on #116
Can you please explain this issue a bit more. I am willing to work on it, Please assign.

[2022-01-04 18:11] noman2002 commented on #115
I am willing to work on this issue please assign it to me.

[2022-01-04 18:25] noman2002 commented on #115
I am unable to recreate this issue. On my emulator it is working fine in both pixel 4a and pixel 4XL. Can you please help me out.

[2022-01-04 18:27] Saransh-cpp commented on #115
Try pixel 2

[2022-01-04 18:28] noman2002 commented on #115
ok

[2022-01-04 18:28] noman2002 commented on #115
ok

[2022-01-04 20:15] letsintegreat commented on #120
I'd like to work on this issue.

[2022-01-05 06:41] rajoriaakash commented on #117
I would like to take this on!

[2022-01-06 08:25] #113 closed

[2022-01-06 08:38] Saransh-cpp commented on #110
@all-contributors please add @letsintegreat for bug, platform

[2022-01-06 08:57] #21 closed

[2022-01-06 09:17] Pranav108 commented on #116
can I take it?

[2022-01-06 09:23] Pranav108 commented on #116
I would love to give it a try, can I take?

[2022-01-06 10:37] Saransh-cpp commented on #116
Yes, go ahead!

[2022-01-06 12:14] Saransh-cpp opened #128 "Update `wiredash.io` credentials"
See #126

The website is down right now, update the credentials once the website is up again.

[2022-01-06 12:15] #120 closed

[2022-01-06 13:43] #4 closed

[2022-01-06 14:14] noman2002 opened #132 "Renderflex overflow in home_screen"
# Description
Renderflex overflow in home screen.

# Relevant files
home.dart

# Screenshot
<img src="https://user-images.githubusercontent.com/54404474/148396091-71a55c38-7b7a-4bfe-8009-5ce71a947ef9.png" height="350" width="200" />

[2022-01-06 14:15] noman2002 commented on #132
Please assign it to me. I am willing to work on it.

[2022-01-06 15:27] Saransh-cpp commented on #68
@noman2002, you can take up this issue!

[2022-01-06 15:32] Pranav108 commented on #116
@Saransh-cpp this is what I can think of till now, any suggestion?
![image](https://user-images.githubusercontent.com/56934594/148407447-da3477c5-5747-4f13-9031-4da9ea1c1bc8.png)

[2022-01-06 15:37] noman2002 commented on #68
Please assign it to me

[2022-01-06 15:38] Saransh-cpp commented on #116
@Pranav108 looks awesome! You will need to remove the `email` field as now we don't want a user to change their mail ID.

[2022-01-06 18:40] Pranav108 opened #136 "Revamp SignIn & SignUp screen"
# Description
UI for SignIn and SignUp screen seems too simple ,some improvement would be better.

# Relevant files
`login_screen.dart`

# Screenshot
<img src='https://user-images.githubusercontent.com/56934594/148433407-cf9953e4-45bd-4c3d-bdae-90f90a8a7b1a.png' width="300" /><img src='https://user-images.githubusercontent.com/56934594/148433458-3c378c0f-017d-4d59-a32c-7cdddc8abda8.png' width="300

[2022-01-06 18:40] Pranav108 commented on #136
I would love to take it.

[2022-01-08 17:27] rajoriaakash commented on #106
All the migration changes have already been updated in the master branch by some other commit probably :).
This issue should be closed now

[2022-01-10 16:32] rajoriaakash opened #139 "Deprecation of Splash Screen"
# Description
The splash screen provided to flutter is deprecated
We need to migrate it to a newer dependency.

Error shown while building is:
`W/FlutterActivityAndFragmentDelegate(11317): A splash screen was provided to Flutter, but this is deprecated. See flutter.dev/go/android-splash-migration for migration steps.
`

[2022-01-10 16:33] rajoriaakash commented on #139
I would like to take this on

[2022-01-12 06:53] Pranav108 commented on #136
@Saransh-cpp can I work on it?

[2022-01-12 09:57] Pranav108 commented on #136
I was already started working on it😅.
I can think of something like that, any sugestions?
<img src="https://user-images.githubusercontent.com/56934594/149117152-9f1b221f-60c3-40cf-a908-9b57315d4fef.png" width=350/><img src="https://user-images.githubusercontent.com/56934594/149117327-85555ce3-b2fd-4d62-a128-9a76d12579eb.png" width=350/>

[2022-01-12 10:52] Saransh-cpp commented on #136
Yup, this looks awesome! (with the background)

[2022-01-12 10:54] #115 closed

[2022-01-12 13:26] #117 closed

[2022-01-12 13:27] #139 closed